body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.overlay-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.5;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 1;
}

#page-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: black; */
    color: white;
}

.container {
    margin-left: 20px;
    align-items: center;
    position: relative;
    width: 80%;
    height: 150px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.text {
    
    margin: auto;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5rem;
    line-height: 1.56;
    white-space: nowrap;
    display: inline-block;
    animation: scrollText 30s linear infinite;
    color:red;
}

@keyframes scrollText {
    0% {
        transform: translateY(100%); 
        opacity: 0;
    }
    20% {
        opacity: 1; 
    }
    80% {
        opacity: 1; 
    }
    100% {
        transform: translateY(-100%);
        opacity: 0;
    }
}

.background-video2 {
    position: relative;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 180px;
    object-fit: cover;
    z-index: -1;
}

@import url('https://googleapis.cpm/css2?family=Roboto:wght@400;500;700;900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto';
}

#zap{
    width: 100%;
    height: 65px;
    position: relative;
}

.text1{
    position: absolute;
    top: 0;
    left: 0;
    background:#000;
    width: 100%;
    height: 180px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: 900;
    mix-blend-mode: multiply;
}

